/************* COMMON STYLE **************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxed {
    margin: 0 auto;
    max-width: 1200px;
}

.debug .nav-column-small,
.debug .nav-column-big,
.debug .jumbo-content,
.debug main>section .columns>div {
    border: dashed 2px black;
}

.debug footer,
.debug .jumbo-content,
.debug main>section .columns>div {
    min-height: 10rem;
}

/************* HEADER **************/
header {
    background-color: lightblue;
}

header>nav {
    padding: 1rem 0;
}

.nav-column {
    background-color: orange;
    padding: 1rem;
}

.nav-column-small {
    width: 20%;
}

.nav-column-big {
    width: 60%;
}

#jumbo {
    background-color: darkblue;
    color: white;
    padding: 2rem;
}

.jumbo-content {
    background-color: violet;
    width: 50%;
    padding: 1rem;
    margin: 0 auto;
}

/************* MAIN **************/
section.dark {
    background-color: lightgray;
}

section.light {
    background-color: white;
}

main>section .columns {
    padding: 1rem 0;
}

main>section .columns>div {
    padding: 1rem;
}

.column-one {
    width: 100%;
    background: green;
}

.column-big {
    width: 60%;
    background-color: dodgerblue;
}

.column-small {
    width: 40%;
    background-color: pink;
}

/************* FOOTER **************/
footer {
    background-color: #222;
    color: white;
}